//---------------------------
//
// Colors
//
//---------------------------

$color__type: #000000;
$color__type--hover: #826d8c;
$brand-color: #826d8c;

$body-color: #333;
$grey-bg: #FAFAFA;
$border-color: #ECF0F1;

$twitter-brand: #55acee;
$twitter-brand--hover: #1E8BC3;
$facebook-brand: #3b5998;
$google-brand: #dc4e41;

$title__underline: #826d8c;